:host {
  cursor: pointer;

  div {
    background-color: red;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
